* {
	box-sizing: border-box;
}

.field {
	display: block;
	padding: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header__desktop {
	display: none;
}

.footer {
	background-color: #00A0F0;
	width: 100%;
}

.header__logo img, .head__logo img{
	display: block;
	width: 100px;
	height: 100px;
}

.header_body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 1 70%;
}
.header__title {
	font-size: 20px;
	width: 100%;
	text-align: center;
	flex: 0 1 50%;
}
.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 0 1 50%;
}
.navigation__link a{
	text-decoration: none;
	font-size: 16px;
}
.navigation__link a:hover {
	color: #F000FF;
}

.main {
	max-width: 960px;
}

.footer {
	display: flex;
	align-items: center;
}

.footer__copyright {
	padding: 50px 30px;
	font-size: 20px;
}

.cell {
	text-align: center;
	padding: 5px;
}

.even {
	background-color: #F000FF;
}

.odd {
	background-color: #00A0F0;
}













.header__mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 30px;
}

.head__title {
	font-size: 35px;
}

.head, .header__body {
	background-color: #00A0F0;
	width: 100%;
}

.header__body {
	padding: 35px 0px 35px 0px;
	margin: 10px 0px;
}

.navigation a {
	font-size: 30px;
}

.navigation {
	flex-direction: column;
	gap: 35px;
}

.table__desktop {
	display: none;
}

.table__mobile {
	display: block;
	order: 1;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.notgoodlayout {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.table__mobile {
	background-color: #00A0F0;
}

.links {
	background-color: #00A0F0;
	order: 2;
}

.notgoodlayout {
	font-size: 35px;
}

.table__mobile {
	font-size: 20px;
}

.even {
	background-color: #F000FF;
}

.odd {
	background-color: #9090F0;
}

.form {
	background-color: #00A0F0;
	font-size: 35px;
}

.form .field > *:not(input[type="checkbox"], input[type="radio"]) {
	width: 100%;
	height: 50px;
}

select option {
	font-size: 35px;
}

select {
	height: 175px !important;
}

.footer {
	margin-top: 25px;
}

@media (min-width: 500px) {
	.navigation {
		flex-direction: row;
		gap: 0px;
	}
}


@media (min-width: 550px) {
	.head__title {
		font-size: 50px;
	}
}

@media (min-width: 680px) {
	.table__mobile {
		font-size: 35px;
	}
}

@media (min-width: 768px) {
	.header__desktop {
		display: flex;
		background-color: #00A0F0;
		width: 100%;
	}

	.table__desktop {
		display: block;
	}

	.table__mobile {
		display: none;
	}

	.field {
		display: block;
		padding: 15px;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.footer {
		background-color: #00A0F0;
		width: 100%;
	}

	.header__logo img, .head__logo img{
		display: block;
		width: 100px;
		height: 100px;
	}

	.header_body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 0 1 70%;
	}

	.header__title {
		font-size: 20px;
		width: 100%;
		text-align: center;
		flex: 0 1 50%;
	}

	.navigation {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 0 1 50%;
	}

	.navigation__link a {
		text-decoration: none;
		font-size: 16px;
	}

	.navigation__link a:hover {
		color: #F000FF;
	}

	.main {
		max-width: 960px;
	}

	.footer {
		display: flex;
		align-items: center;
	}

	.footer__copyright {
		padding: 50px 30px;
		font-size: 20px;
	}

	.cell {
		text-align: center;
		padding: 5px;
	}

	.even {
		background-color: #F000FF;
	}

	.odd {
		background-color: #00A0F0;
	}

	.header__mobile {
		display: none;
	}

	.notgoodlayout {
		display: block;
		width: auto;
		background-color: #fff;
	}

	.main {
		display: block;
		width: auto;
	}

	.links {
		background-color: #fff;
	}

	.form {
		background-color: #fff;
	}

	select option {
		font-size: inherit;
	}

	.main select {
		height: 80px !important;
	}

	.main > * {
		font-size: 16px !important;
	}
}
